version: '3.8'

services:
  redis:
    image: "redis:alpine"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 30
    ports:
      - "6379:6379"

  redis-loader:
    build: .
    command: python load_redis.py
    environment:
      - REDIS_HOST=redis
    depends_on:
      redis:
        condition: service_healthy
